@keyframes seizure {
    0%   {background-color: red;}
    25%  {background-color: yellow;}
    50%  {background-color: orange;}
    100% {background-color: blue;}
}
 body {
    animation: seizure .1s infinite;
    }