@keyframes 'seizure' {
    0%   {background-color: red;}
    25%  {background-color: yellow;}
    50%  {background-color: blue;}
    100% {background-color: green;}
}

.seizure{
    animation-name: 'seizure';
    animation-duration: .05s;
    animation-iteration-count: infinite;
}
