a img {
    height: 200px;
    background-color: #DDDDDD;
}

.container{
    display: flex;
    justify-content: center;
    margin-top: 20%;
}

.ss{
    margin-right: 20px;
}

.ba{
    margin-left: 20px;
}