.background{
    background-image: url(https://encrypted-tbn3.gstatic.com/images?q=tbn:ANd9GcTjocj3JpPtSg0sgP93nBHz-TfSclPLp4AXBww3deWlmLZqR5BP);
    background-size: cover;
}
h1{
    font-family: Impact, Charcoal, sans-serif;
    text-decoration: underline;
}

ul
{
    list-style-type: none;
}
.placeholder-text{
    color: black;
}