.dice{
	float:left;
	padding:10px;
	text-align:center;
	font-family: Impact, Charcoal, sans-serif;
    height:200px;
    width: 200px;
    font-size: 170px;
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRFr1M63EFWNT7aXCHgYCjE1kS079pHs7G1xVB3llU4t_qF5uh3PA);
    background-size: cover;
    color: gold;
    border: black solid 4px;
    border-radius: 25px;
    cursor: pointer; cursor: hand;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;   
    -moz-user-select: none;  
    -ms-user-select: none;
    user-select: none;
    
    
}
.background{
    background-image: url("http://www.gamepeople.co.uk/screens/wii_marioallstars_shot1.jpg");
    background-size: cover;
    
}
h2{
    color: black;
}
.container{
    width: 200px;
    margin: 0 auto;
}
.dice{
   margin-top: 10vh;
}
#status.text{
    font-size: 32px;
    margin: 0 auto;
}

h1{
    color: black;
    text-align: center;
}
